<img src='<%= fullsize_url %>' width='100%'>
<% if user_signed_in? %>
	<div class="edit-images">
		<%= link_to 'edit', edit_image_path(image), :class => 'btn btn-mini' %>
	</div>
<% end %>
<%= sanitize(caption) %>
